.copy-btn {
    display: flex;
    flex-direction: row;
}
.copy-btn button {
    margin-left: 4px;
    background: none;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
}

.copied {
    margin-left: 4px;
    width: 24px;
    height: 24px;
}