.howToBuy-bg {
  background-image: url('../assets/howToBuy-bg.png');
}

.howToBuy-bg h1 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  transition: 0.2s ease;
}

.howToBuy-bg h1:hover {
  color: #ff7c00;
  cursor: default;
}

.howToBuy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.howToBuy-desc {
  display: grid;
  grid-template-columns: 1fr;
  width: 450px;
  height: 500px;
  background-image: url('../assets/howToBuy-desc.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-content: center;
  color: #2f2f2f;
  margin-left: 60px;
}

.howToBuy-desc h2 {
  font-size: 20px;
  text-align: center;
  transition: 0.2s ease;
}
.howToBuy-desc h2:hover {
  color: #ff7c00;
  cursor: default;
}

.howToBuy-desc p {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.howToBuy-dog img {
  max-width: 500px;
}

.howToBuy-desc button {
  padding: 12px 20px;
  background: linear-gradient(60deg, #ffc04c 10%, #ffa52d 90%);
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}
.howToBuy-desc button:hover {
  background: #ffffff;
  color: #222222;
  cursor: pointer;
}

.mobile-btn button {
  display: none;
  padding: 12px 20px;
  background: linear-gradient(60deg, #ffc04c 10%, #ffa52d 90%);
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
}
.mobile-btn button:hover {
  background: #ffffff;
  color: #222222;
  cursor: pointer;
}
@media only screen and (max-width: 1010px) {
  .howToBuy-bg {
    background-image: url('../assets/howToBuy-bg-mobile.png');
    background-position: center;
    background-size: cover;
  }
  .howToBuy-desc {
    margin-left: 20px;
  }
  .howToBuy-dog img {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .howToBuy-bg {
    background-image: url('../assets/howToBuy-bg.png');
  }
}
@media only screen and (max-width: 430px) {
  .howToBuy-desc {
    margin: 0 auto;
    padding: 0;
    width: 350px;
    height: 350px;
  }
  .howToBuy-desc h2 {
    font-size: 14px;
  }
  .howToBuy-desc p {
    font-size: 14px;
    width: 180px;
  }
  .howToBuy-desc button {
    display: none;
  }
  .mobile-btn button {
    display: block;
  }
  .howToBuy-ghost {
    display: none;
  }
  .howToBuy-container {
    display: flex;
    flex-direction: column;
  }
}
