.partners-bg {
    background-color: #f16507;
    padding: 30px 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.partners-bg h1 {
    text-align: center;
    color: #ffffff;
}

.partners-container {
    padding-left: 20px;
    padding-right: 20px;
}

.partners-item img {
    height: 70px;
    /* width: 120px; */
    opacity: 0.7;
}

.partners-item img:hover {
    height: 70px;
    /* width: 120px; */
    opacity: 1;
}

.partners-item {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
    justify-content: center;
    margin: 20px 0;
}

@media only screen and (max-width: 640px) {
    .partners-item img {
        height: 50px;
        /* width: 120px; */
        opacity: 0.7;
    }
    .partners-item img:hover {
        height: 50px;
    }
  }

  @media only screen and (max-width: 470px) {
    .partners-item img {
        height: 30px;
        /* width: 120px; */
        opacity: 1;
    }
    .partners-item img:hover {
        height: 30px;
    }
  }