.tokenomics-bg {
    background-image: url("../assets/tokenomics-bg.png");
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    /* height: 80vh; */
}

.tokenomics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tokenomics-desc {
    color: #ffffff;
    margin-top: 40px;
}

.tokenomics-desc h2, .tokenomics-desc p {
    text-shadow: 1px 1px 2px black;
}

.tokenomics-desc h2 {
    font-size: 40px;
    transition: .2s ease;
}
.tokenomics-desc h2:hover, .tokenomics-desc p:hover {
  color: #ff7c00;
  cursor:default;
}

.tokenomics-desc p {
    font-size: 26px;
    transition: .2s ease;
}

.tokenomics-ghost {
    width: 150px;
}

.tokenomics-container img {
    max-width: 600px;
    max-height: 600px;
}

.tokenomics-contract {
    margin-top: 40px;
    margin-right: 20px;
    background-color: #4e2001ea;
    box-shadow: 10px 10px 2px #252525b2;
    border-radius: 50px 0px 50px 0px;
    padding: 20px;
}

.pizza-mobile {
  display: none;
}

.contract-address {
  display: flex;
  flex-direction: row;
  background-color: #f17b0ca6;
  border: 1px solid rgba(255, 255, 255, 0.411);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}
.tk-mobile {
  display: none;
}
@media only screen and (max-width: 1290px) {
  .tokenomics-container img {
      max-width: 400px;
      max-height: 400px;
  }    
}
@media only screen and (max-width: 1090px) {
  .tokenomics-desc h2 {
      font-size: 32px;
  }
}
@media only screen and (max-width: 940px) {
  .tokenomics-desc h2 {
      font-size: 24px;
  }
  .tokenomics-desc p {
      font-size: 20px;
  }
  .tokenomics-ghost {
      width: 100px;
  }
}
@media only screen and (max-width: 930px) {
  .tk-mobile {
    display: block;
  }
  .tk-web {
    display: none;
  }
  .tokenomics-bg {
    background-size: contain;
    /* background-repeat: no-repeat; */
    padding-top: 0;
  }
  .tokenomics-container {
      flex-direction: column;
      width: fit-content;
      margin: 0 auto;
  }
  .tokenomics-ghost {
      display: none;
  }
  .tokenomics-contract {
    background-color: #4e2001ea;
    box-shadow: 10px 10px 2px #252525b2;
    max-width: 380px;
  }
  .tokenomics-desc {
    margin-top: 0;
  }
  .tokenomics-desc h2 {
    text-align: center;
    letter-spacing: 3px;
  }
  .tokenomics-desc p {
    text-align: center;
  }
  .tokenomics-contract p {
    text-align: start;
    margin-top: 10px;
  }
  .pizza-mobile {
    display: block;
  }
  .pizza-desktop {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .tokenomics-bg {
    padding-bottom: 40px;
  }
  .tokenomics-container img {
    max-width: 200px;
    max-height: 200px;
  }
  .pizza-mobile {
    margin: 0 auto;
  }
  .tokenomics-desc h2 {
    font-size: 20px;
  }
  .tokenomics-desc p {
    font-size: 16px;
    text-align: start;
  }
  .tokenomics-desc span {
    font-size: 14px;
  }
  .tokenomics-contract {
    padding-left: 20px;
    padding-right: 20px;
  }
}